
/* ----------Ajout de polices : ---------*/
@font-face {
    font-family: 'roboto' ;
    src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: small ;
    font-style: normal;
}

@font-face {
    font-family: 'caviardreams' ;
    src: url('../fonts/caviar_dreams/CaviarDreams_Bold.ttf') format('truetype');
    font-weight: bold ;
    font-style: normal;
}

/* ------------Fin ajout polices ----------*/



/* ----------Propriétés des titres ---------------*/
h1 { color: #362e77; font-family: caviardreams, Courier,monospace; font-weight: bold; font-size: 1.2em ; margin: 2px ;}
h2 { color: #117bb8 ; font-family: caviardreams; font-size: 1.2em; }
h3 { color: #CB0000 ; font-family: caviardreams ; font-size: 1.7em; }
h4 { color: #CB0000 ; font-family: caviardreams ; font-size: 3em; }
h5 { color: #CB0000 ; font-family: caviardreams ; font-size: 2em;}



/*---------Paragraphe principal ---------*/

p  {font-family: roboto ; font-size: 1.1em ; line-height: 1.4; color: black;  }

pre {color: #3D3D3D; font-size: 1.1em ; }

li { font-size: 1.1em ; line-height: 1.5 ; font-family: roboto ; font-weight: regular;}

.retrait {
    margin-left: 5em ;
}

.rouge {
    color: #CB0000 ;
    font-weight: bold ;
}


/* border-radius:10px;  */
/*!!!!!!!!!!! FOND ECRAN */
body {
    /*background: url('../../images/white3D.jpg') ;*/
    background-color: #F0F0F0 ;
    background-repeat:no-repeat;
    background-attachment: fixed;
    min-width: 1024px ;
    max-width: 1280px ;
    margin: auto ;
    margin-top: -40px ;
}

.container {
    margin: auto ;
}

header {
    /*border: 0.2px grey solid ;*/
    padding-top: 5px ;
    margin-top: 15px ;
    margin-bottom: 10px ;
    /*box-shadow : 6px 4px 8px #808080 ;*/
}

header a {
    text-decoration: none;
}

#logoMod {
    float: left;
    margin: -10px 0 10px 0px;
}

#titre {
    margin: 20px ;
    text-align: center ;
    font-size: 2.6rem;
}

#soustitre {
    margin: 30px ;
    text-align: center ;
    font-size: 1.9rem;
}


nav {
    display: inline-block ;
    text-align: center ;
}

nav ul {
    margin: 0;
    float: none;
    display: inline-block ;

}


/* --------------- LIENS DE NAVIGATION ------------------- */
/*
nav
{
    margin-top: 30px ;
    vertical-align: bottom ;
    text-align: center;

}

nav ul {
    padding-left: 0;
}

nav li
{
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 6px;
}

nav a
{
    text-decoration: none;
    font-size: 5em;
    padding: 10px;
    color: #362e77;
    border-radius: 8px 8px 0px 0px ;
    transition: background 1.7s ;
    background-position: 0 42px;
}

nav a:hover,nav a:focus {
    background: #82A1B3;
    color: #FFFFFF;
}*/

/*------------------------  ARTICLE ------------------ */
section {

    box-shadow : 6px 4px 8px #808080 ;
    padding: 10px;
    background-color: white;

}

article h2{
    font-size: 2em;
}


article {
    text-align: justify ;
    background-color: white;
    padding: 2em;
}

/* Pour les liens dans les articles?*/
article a {

    text-decoration: none ;
    color: #3D3D3D  ;
    padding: 1px 5px 1px 5px ;
    border-radius: 8px ;
    transition: background 0.5s ;
}

article a:hover {
    color: #FFFFFF ;
    background: #D7D7D7 ;
}

article a:link{
    color:#362e77;
}

article a:visited{
    color:#117bb8;
}

/* ----------- ACCUEIL -----------*/

article ul li {
    list-style-type: initial ;
    list-style-position: initial ;
    margin-left: 17px ;
    margin-bottom: 5px ;
}

/* --------- INSCRIPTIONS --------*/

#formInscriptions {
    width: 95% ;
    margin: auto ;
}

#formInscriptions ul {
    display: inline-block ;
    text-decoration: none ;
}

#formInscriptions li {
    display: block ;
    text-decoration: none ;
    color: #CB0000 ;
    font-weight: bold ;
    font-size: 0.95em ;
}


fieldset {
    border-radius: 6px ;
    margin: 10px 0 10px 0 ;
}

fieldset table {
    width: 75% ;
    margin: 10px 0 10px 0 ;
}

#fieldset2 table {
    margin: 10px 0 10px 20px ;
}


fieldset p {
    width: 75% ;
}

legend {
    font-weight: bold ;
    color: #117bb8 ;
    font-size: 1.1em ;
}

#formInscriptions input[type=submit] {
    display: inline-block ;
    margin: 10px 20% ;
    text-align: center ;
}

#formInscriptions label {
    color: black ;
    font-size: 1em ;
    width: 30% ;
}

#fieldset1 td {
    text-align: right ;
}

#fieldset1 input {
    float: left ;
}

#fieldset1 tr{
    text-align: center;
}

#formInscriptions .errorlist {
    padding: 0 0 5px 20px ;
}

/*---------- PROGRAMME-------------*/

#avertissement{
    margin: 40px auto ;
    width: 50% ;
    font-size: 1.3em ;
    text-align: center ;
    font-weight: bold;
    /*font-style: italic;*/
    color : red;
    border: solid #ee6e73 ;
    /*border-radius:10px;*/
    background:#E5E5E5 ;
    padding: 10px ;
}

.session {
    margin: 15px 15px ;
    padding: 10px 2px ;
    font-size: 1.1em ;
    font-weight: bold ;
    color: #117bb8
}

/*---------------Images Rondes ----------------*/

.intervenants {
    /*margin-top : -5em ;*/
}

.intervenants td {
    padding : 12px 15px;
}

.avatar {
    overflow:hidden;
    -webkit-border-radius:90px;
    -moz-border-radius:90px;
    border-radius:50px;
    float: right;
    margin: 0px 0 0px 20px;
    box-shadow : 6px 4px 8px #808080
}


/* ---------- PARTENAIRES ------------------------*/


.partners_tab {
    margin: 10px ;
}

.partners_tab td {
    padding: 10px ;
    /*vertical-align:middle ;*/
    /*display: table-cell ;*/
}

/* ---------- ORGANISATEURS ------------------------*/
#listorganisateurs1 {
    display: inline-block ;
    text-align: right ;
    margin-right: 20px ;
    width: 40% ;
}

#listorganisateurs2 {
    display: inline-block ;
    text-align: left ;
    margin-left: 20px ;
}


/* ----------- BANDEAU DE DROITE ------------------ */

aside {
    display: inline-block ;
    /*margin: 0% 0% 0% 2% ;*/
    vertical-align: top ;

}


.container_aside {
    box-shadow : 12px 8px 16px #808080 ;
    background-color: white;
    margin-bottom: 25px ;
    text-align: justify ;
    padding: 0.5% 7% ;
    /*border-radius:10px;*/
}

aside h3 {
    text-align: center ;
    color: #117bb8 ;
}

aside #social_logos {
    margin: auto ;
    text-align: center ;
}

aside table {
    text-align: left ;
}

aside a {
    padding: 1px 5px ;
    border-radius: 8px ;
    transition: background 0.5s ;
}

aside a:hover {
    /*color: #FFFFFF ;*/
    background: #D7D7D7 ;
    outline: 0;
}

aside .social_logo:hover {
    opacity: 0.7 ;
    background: none;
}

aside #social_logos a:hover {
    background: none ;
}

/* ------------- PRE-FOOTER (page Accueil uniquement)-----------------*/

.prefooter {
    display: inline-block ;
}

.logos-partenaires {
    text-align: center ;
}

.logos-partenaires img {
    margin: 30px 15px 0 30px ;
    vertical-align: middle ;
}


/* ------------- FOOTER -----------------*/

footer {
    margin: 40px 0px 30px 0px ;
    text-align: center ;
    font-style: italic;
    color: #575856;
    font-size: 0.8em ;
}


