
@font-face {
	font-family: 'caviardreams' ;
	src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
	font-weight: normal ;
	font-style: normal;
}

@font-face {
	font-family: 'caviardreams' ;
	src: url('../fonts/caviar_dreams/CaviarDreams_Bold.ttf') format('truetype');
	font-weight: bold ;
	font-style: normal;
}


html {
	font-family: caviardreams ;
    //font-family: sans-serif;
    //font-family: Courier,monospace ;
    //font-weight: bold ;
}

//h1 { color: #CB0000 ; font-family: Courier, monospace ; margin: 5px; }
//h2 { color: #CB0000 ; font-family: Courier, monospace ; }
//h3 { color: #CB0000 ; font-family: Courier, monospace ; }
//h4 { color: #CB0000 ; font-family: Courier, monospace ; }
//h5 { color: #CB0000 ; font-family: Courier, monospace ; }


h1 { color: #362e77; font-family: caviardreams, Courier,monospace; font-weight: bold; font-size: 2.5em ; margin: 5px ;}
h2 { color: #117bb8 ; font-family: caviardreams; }
h3 { color: #CB0000 ; font-family: caviardreams ; }
h4 { color: #CB0000 ; font-family: caviardreams ; }
h5 { color: #CB0000 ; font-family: caviardreams ; }
p  { /*color: #262626	;*/ font-family: caviardreams ; font-size: 1.1em ; line-height: 1.4; }
pre {color: #3D3D3D; font-size: 1.1em ; }
li { font-size: 1.1em ; line-height: 1.5 ; font-family: caviardreams ; }

.retrait {
	margin-left: 5em ;
}

.rouge {
	color: #CB0000 ;
	font-weight: bold ;
}

body {
	background: url('img/back.jpg') ;
	width: 90% ;
	min-width: 940px ;
	max-width: 1280px ;
	margin: auto ;
}

header {
	/*border: 0.2px grey solid ;*/
	padding-top: 10px ;
	margin-top: 15px ;
	margin-bottom: 30px ;
	box-shadow : 6px 4px 8px #808080 ;
}

header a {
	text-decoration: none;
}

#logoMod {
	float: left;
	margin: 10px 40px 10px 20px;
}

#titre {
	margin: 20px ;
}

/* --------------- LIENS DE NAVIGATION ------------------- */

nav
{
	margin-top: 30px ;
	vertical-align: bottom ;
	text-align: center;
}

nav ul {
	padding-left: 0;
}

nav li
{
	display: inline-block;
	margin-right: 0px;
	margin-bottom: 6px;
}

nav a
{
	text-decoration: none;
	font-size: 1.1em;
	padding: 10px;
	color: #362e77;
	border-radius: 8px 8px 0px 0px ;
	transition: background 1.7s ;
	background-position: 0 42px;
}

nav a:hover,
nav a:focus {
	background: #82A1B3;
	color: #FFFFFF
}

section {
	display: inline-block ;
	vertical-align: top ;
	width: 63% ;
	box-shadow : 6px 4px 8px #808080 ;
	padding: 0.7% 2% ;
}

article {
	text-align: justify ;
}

/*
article a {
	text-decoration: none ;
	color: #3D3D3D	;
	padding: 2px 10px 2px 10px ;
	border-radius: 10px ;
	transition: background 1s ;
}

article a:hover {
	color: #FFFFFF ;
	background: #7D7D7D ;
}
*/

/* --------- INSCRIPTIONS --------*/

#formInscriptions {
	width: 95% ;
	/*margin: auto ;*/
}

#formInscriptions ul {
	display: inline-block ;
	text-decoration: none ;
}

#formInscriptions li {
	display: block ;
	text-decoration: none ;
	color: #CB0000 ;
	font-weight: bold ;
	font-size: 0.95em ;
}


fieldset {
	border-radius: 6px ;
	/*margin: 10px 0 10px 0 ;*/
}

fieldset table {
	margin: auto ;
	margin: 10px 0 10px 0 ;
}

legend {
	font-weight: bold ;
	color: #117bb8 ;
	font-size: 1.1em ;
}

#formInscriptions input[type=submit] {
	display: inline-block ;
	margin: 10px 20% ;
	text-align: center ;
}

/* ---------- PARTENAIRES */

.partners_tab {
	margin: 10px ;
}

.partners_tab td {
	padding: 10px ;
	/*vertical-align:middle ;*/
	/*display: table-cell ;*/
}

/* ----------- Bandeau de droite ------------------ */

aside {
	display: inline-block ;
	margin: 0% 0% 0% 2% ;
	vertical-align: top ;
	width: 30.6% ;
}

.container_aside {
	box-shadow : 6px 4px 8px #808080 ;
	margin-bottom: 25px ;
	text-align: justify ;
	padding: 0.7% 2.2% ;
}

aside h3 {
	color: #117bb8 ;
}

aside #social_logos {
	margin: auto ;
	width: 50% ;
}

aside .social_logo:hover {
	opacity: 0.7 ;
}

aside table {
	text-align: left ;
}

/*
aside .infos {
	//display: inline-block;
	background: linear-gradient( #E5EEDF, #CAEEC3  ) ;
	border: 1px groove green ;
	border-radius: 10px ;
	box-shadow: 0 0 8px rgba(75, 160, 85, 0.7) ;
	margin: 20px 10px ;
	padding: 7px ;
	color: #3D3D3D ;
	opacity: 0.8;
}

aside .infos:hover {
	opacity: 1;
}

aside .infos p {
	text-align: justify ;
}

aside .infos p,
aside .infos ul {
	margin-top: 4px;
	margin-bottom: 4px ;
}

aside .infos a[href] {
	color: #1E7A16 ;
	text-decoration: none;
}

aside .infos a[href]:hover {
	border-bottom: solid 1px ;
	font-style: italic ;
	//color: #CB0000 ;
	//color: #FFF ;
	//background: #7D7D7D ;
}

aside .image {
	float: right ;
	padding-left: 7px;
}
*/

/* ------------- Pied de page -----------------*/

footer {
	margin: 40px 0px 30px 0px ;
	text-align: center ;
	font-style: italic;
	color: #575856;
	font-size: 0.8em ;
}
