{% extends "main/base.html" %}

{% block section %}

<article>
    <h2>Les Montpellier Omics Days 2017, c'est fini !</h2>
    
    <p>Les 6 et 7 février dernier a eu lieu la 5<sup>ème</sup> édition des « Montpellier Omics Days » sur le campus de la Faculté des Sciences. Les MODs sont des manifestations scientifiques gratuites ouvertes à tout public intéressé par les dernières avancées technologiques et approches d’analyse des données issues des Sciences du Omique.</p>
    <p>Les MODs est une Initiative lancée en 2013 par Alban Mancheron. Cette initiative a été ensuite reprise dès 2014 par Anna-Sophie Fiston-Lavier, qui de part son expertise, a su donner de l’ampleur au mouvement. Le nombre de participants a doublé chaque année pour atteindre cette année les 250 participants.</p>
    <p>La particularité des MOD est que ce sont les étudiants de Master de la <a href="http://www.fdsweb.univ-montp2.fr/"  target=_blank>Faculté des Sciences</a> de l’<a href="http://www.umontpellier.fr/" target=_blank>Université de Montpellier</a> qui ont la lourde charge de l’organiser.</p>
    <p>Encadrés par Anna-Sophie Fiston-Lavier, les étudiants M2 du parcours « Bioinformatique, Connaissances, Données » (BCD) du Master Sciences et Numérique pour la Santé (<a href="http://sns.edu.umontpellier.fr/" target=_blank>SNS</a>), rejoints depuis 2016 par les étudiants de M1 du Master Statistique pour les Sciences de la Vie (<a href="http://www.mathfds.univ-montp2.fr/index.php/offre-de-formation/8-offre-de-formation/60-ssv2015" target=_blank>SSV</a>) ont organisé les MOD2017 incluant la recherche de finances à la mise en place du programme scientifique.</p>

    
    <p>Pour cette 5<up>ème</up> édition, les étudiants ont proposé une manifestation sur deux jours :</p>
    <ul>
        <li>Le lundi 6 février a eu lieu une journée séminaire avec des orateurs invités qui ont parlé des dernières avancées en terme de séquençage et en terme de recherche contre le Cancer. Les participants ont ainsi pu écouter Mickael Ploquin, le représentant français de la nouvelle compagnie 10X genomics, qui propose une nouvelle approche de séquençage basée sur du séquençage Illumina pour l’obtention de long reads synthétique ou encore Jacques Colinge qui a montré la puissance et complexité de la protéomique pour la recherche contre le cancer. Cette journée s’est finie par une table ronde autour de l’e-science et des BigData animée par Julien Maupetit (TailorDev) et Pascal Poncelet.</li>
        <li>Le mardi 7 février a eu lieu une journée de formation toujours organisée par les étudiants. Cette année, les étudiants se sont organisés en deux groupes de niveau. Ils ont proposé une formation à l’environnement UNIX, avec découverte de la plateforme Galaxie et initiation à R pour le premier niveau, et pour le deuxième niveau une formation à l’analyse de données de séquençage (NGS).</li>
    </ul>
    
    Voir les <a href="/photos">Les photos</a>.

</article>

{% comment %}
<article>
    
    {# <h2>Accueil</h2> #}
    <p>Nous sommes heureux de vous annoncer l’ouverture des inscriptions de la 5ème édition des Montpellier Omics Days 2017 (MOD2017).</p>

    <p>MOD2017 est une manifestation scientifique gratuite organisée par les étudiants de la spécialité <a href="http://sns.edu.umontpellier.fr/master-sciences-numerique-pour-la-sante-montpellier/bcd/" title="Page descriptive du master BCD" target="_blank">Bioinformatique, Connaissances, Données</a> (master Sciences & Numérique pour la Santé) et les étudiants du master <a href="http://formations.umontpellier.fr/fr/formations/sciences-technologies-sante-STS/master-lmd-XB/master-lmd-mathematiques-program-fruai0342321nprme157/statistique-pour-les-sciences-de-la-vie-subprogram-pr496.html" title="Lien vers le descriptif du master SSV" target=_blank>Statistiques pour les Sciences de la Vie</a> dans le cadre de l’Unité d’Enseignement « Omiques » (Université de Montpellier). Elle a pour but d’exposer l’état de l’art de la recherche dans le domaine des Omiques et de mettre en contact les différents acteurs concernés :  scientifiques, biologistes et bioinformaticiens. L’intérêt général de l’organisation des MOD2017 est la volonté d’engager une communication constructive entre ces parties.</p>

    <p>Pour sa cinquième édition, l’événement se déroulera sur le campus de l’Université de Montpellier les lundi 06 et mardi 07 Février 2017. La première journée offrira un éventail de conférences sur le traitement et l'analyse de données de séquençage à haut-débit (NGS) en abordant des problématiques et solutions au niveau des techniques et des analyses ainsi que les applications possibles. Le lendemain sera consacré à des workshops, séparés en deux niveaux, qui aborderont les sujets suivants :</p>

    <h5>Les conférences</h5>
    <p>Les horaires et le programme sont détaillés dans le <a href="/programme">Programme</a></p>
    <p>Les conférences auront lieu dans l'amphithéatre Dumontet, au Bâtiment 7 de la faculté des sciences (voir la rubrique <a href="/localisation">Accès</a>)</p>
    
    
    <h5>Les workshops</h5>
    <p>Les workshops débuteront à 9h. Pour les personnes qui ne connaissent pas les locaux, un accueil est organisé de 8h30 à 8h50, devant le bâtiment 7 de la Faculté des Sciences, en face de l'entrée principale (voir la rubrique <a href="/localisation">Accès</a>)</p>
    
    <p>- Workshop initiation : <span class="rouge">bâtiment 5, salle 09</span></p>
    <ul>
        <li style="padding-left: 40px">Initiation à <strong>Linux</strong> (le matin, de 9h à 12h)</li>
        <li style="padding-left: 40px">Initiation à <strong>Galaxy</strong> (l'après-midi, de 14h à 18h)</li>
        <li style="padding-left: 40px">Initiation aux statistiques avec <strong>R</strong> (l'après-midi)</li>
    <ul>
    <p>- Workshop NGS : <span class="rouge">bâtiment 5, salle 08</span></p>
    <ul>
        <li style="padding-left: 40px">Prise en main des outils d’analyse de données de séquençage à haut-débit</li>
    </ul>

    <p>L’inscription aux Montpellier Omics Days 2017 est entièrement gratuite, mais pour des raisons d’organisation elle est obligatoire. <a href="/inscriptions" title="Cliquez pour vous inscrire">Je m'inscris.</a></p>

    <p>POUR L'<a href="/localisation" title="Accès au campus">ACCÈS AU CAMPUS</a>, TOUTE PERSONNE EXTÉRIEURE A L’UM DOIT VENIR MUNIE D’UNE CARTE D’IDENTITÉ ET DU PROGRAMME DE L’ÉVÉNEMENT.</p>
    

</article>
{% endcomment %}

{% endblock %}

{% block prefooter %}
    <div class="col">
        <div class=prefooter>
            <div class=logos-partenaires>
                <a href="http://www.umontpellier.fr" title="Site de l'UM" target="_blank">
                    <img  width="100" src="/static/images/um.png" alt="Logo Université Montpellier" title="Université de Montpellier" />
                </a>
                <a href="http://www.fdsweb.univ-montp2.fr/" title="Lien vers le site de la fac des sciences de Montpellier" target="_blank">
                    <img width="100" src="/static/images/logo_fds_quadri-300x300.png" alt="Logo Fac des Sciences de Montpellier" title="Faculté des Sciences de Montpellier" />
                </a>
                <a href="http://www.lirmm.fr/numev/" title="Lien vers le site du labex Numev" target="_blank">
                    <img width="70" src="/static/images/logo-labex-numev-alpha.png" alt="Logo du labex Numev" title="Logo du labex Numev" />
                </a>
                <a href="https://www.epigenmed.fr/" title="Lien vers le site du labex Epigenmed" target="_blank">
                    <img width="70" src="/static/images/logo-du-labex-epigenmed.png" alt="Logo du labex Epigenmed" title="Logo du labex Epigenmed" />
                </a>
                <a href="http://www.labex-cemeb.org/" title="Lien vers le site du labex Cemeb" target="_blank">
                    <img width="100" src="/static/images/logo_labex_cemeb.png" alt="Logo du labex Cemeb" title="Logo du labex Cemeb" />
                </a>
                <a href="http://www.ibc-montpellier.fr/" title="Lien vers le site de l'ibc" target="_blank">
                    <img width="95" src="/static/images/ibc-alpha.png" alt="Logo de l'ibc" title="Logo de l'ibc" />
                </a>
                <a href="http://www.isem.univ-montp2.fr/" title="Lien vers le site de l'isem" target="_blank">
                    <img width="110" src="/static/images/isem.png" alt="Logo de l'isem" title="Logo de l'isem" />
                </a>
                <a href="http://deptinfofds.univ-montp2.fr/" title="Département informatique de l'UM" target="_blank">
                    <img width="100" src="/static/images/dept_info_fds.jpg" alt="Logo du dept info de la faculté des sciences" title="Département informatique de la Faculté des Sciences" />
                </a>
                <a href="http://www.iutmontp.univ-montp2.fr/" title="Lien vers le site de l'IUT de l'UM" target="_blank">
                    <img width="100" src="/static/images/logo_iut.png" alt="Logo de l'IUT de Montpellier" title="Faculté de l'IUT de Montpellier" />
                </a>
                <a href="http://www.mathfds.univ-montp2.fr/" title="Lien vers le site du dpt de mathématique de la FDS" target="_blank">
                    <img width="100" src="/static/images/logo_maths_fds.png" alt="Logo du département mathématique de l'UM" title="Logo du département mathématique de l'UM" />
                </a>
                <a href="https://www.10xgenomics.com/" title="Lien vers le site de 10x Genomics" target="_blank">
                    <img width="100" src="/static/images/10xGenomics-blue.jpg" alt="Logo de 10x Genomics" title="Logo de 10x Genomics" />
                </a>
                <a href="http://bionanogenomics.com/" title="Lien vers le site de bionano" target="_blank">
                    <img width="100" src="/static/images/Bionano_RGB.png" alt="Logo de Bionano" title="Logo de Bionano" />
                </a>
                <a href="http://mines-ales.fr/" title="Lien vers le site de l'école des mines d'Ales" target="_blank">
                    <img width="100" src="/static/images/logo-mines-ales.jpg" alt="Logo de l'école des mines d'Ales" title="Logo de l'école des mines d'Ales" />
                </a>
                <a href="https://www.imt.fr/" title="Lien vers le site de l'Institut des Mines Télécom" target="_blank">
                    <img width="90" src="/static/images/Mines-telecom.svg.png" alt="Logo de l'Institut des Mines Télécom" title="Logo de l'Institut des Mines Télécom" />
                </a>
                <a href="https://tailordev.fr/" title="Lien vers le site de TailorDev" target="_blank">
                    <img width="85" src="/static/images/Logo_TailorDev.png" alt="Logo de TailorDev" title="Logo de TailorDev" />
                </a>
                <a href="http://www.med.univ-montp1.fr/" title="Lien vers le site de la fac de médecine de Montpellier" target="_blank">
                    <img width="105" src="/static/images/Medecine_logo_2015.jpg" alt="Logo de l'école de la fac de médecine de Montpellier" title="Logo de l'école de la fac de médecine de Montpellier" />
                </a>
                <a href="http://www.chu-montpellier.fr/fr/irmb/" title="Lien vers le site de l'IRMB" target="_blank">
                    <img width="110" src="/static/images/irmb.png" alt="Logo de l'IRMB" title="Logo de l'IRMB" />
                </a>
                <a href="https://seq.one/" title="Lien vers le site de seqOne" target="_blank">
                    <img width="100" src="/static/images/seqone-logo-blk.png" alt="Logo de seqOne" title="Logo de seqOne" />
                </a>
                <a href="http://astico.fr/" title="Lien vers le site d'Astico" target="_blank">
                    <img width="90" src="/static/images/astico2.png" alt="Logo d'Astico" title="Logo d'Astico" />
                </a>
                <a href="https://www.mep.fr/" title="Lien vers la Mutuelle des Étudiants de Provence" target="_blank">
                    <img width="110" src="/static/images/mep.png" alt="Logo de la Mutuelle des Étudiants de Provence" title="Logo de la Mutuelle des Étudiants de Provence" />
                </a>
                <a href="http://www.herault.fr/" title="Lien vers la Mutuelle des Étudiants de Provence" target="_blank">
                    <img width="75" src="/static/images/herault.png" alt="Logo du département de l'Hérault" title="Logo du département de l'Hérault" />
                </a>
                <a href="http://www.laregionoccitanie.fr/" title="Lien vers le site de la région Occitanie" target="_blank">
                    <img width="75" src="/static/images/occitanie.png" alt="Logo du site de la région Occitanie" title="Logo du site de la région Occitanie" />
                </a>
                <a href="https://jebif.fr" title="Lien vers le site de JeBiF" target="_blank">
                    <img width="110" src="/static/images/logo-jebif.png" alt="Logo du site de JeBiF" title="Logo du site de JeBiF" />
                </a>
            </div>
        </div>
    </div>
{% endblock %}

