{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    {#<link rel="stylesheet" href="{% static 'styles/css/materialize.css' %}" />#}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--Import Google Icon Font-->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link href="{% static 'styles/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'styles/css/styles.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />

    <title>{% block title %}MOD 2017{% endblock %}</title>
</head>

<body>
        <div class="container" >

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

        <div class="row">

<!-- ------------------------ HEADER ------------------------ -->

        <div class="col s12 m12 l12"><span class="flow-text">
        <header>
            <a href="/">
                {% block header %}
                <img src="static/images/logo_Mod2017.png" width="280px" alt="Logo des MOD2017" id="logoMod"/>
                <h1 id="titre">Montpellier Omics Days 2017</h1>
                {# <h2 id="soustitre">06 et 07 février 2017<br />Campus de l'université de Montpellier</h2> #}
                <h2 id="soustitre"><em>Campus de l'université de Montpellier<br />06 et 07 février 2017</em></h2>
                {% endblock %}
            </a>

<!-- ------------------- NAVIGATEUR --------------------- -->
            <nav>
                {% block nav %}
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="programme">Programme</a></li>
                    <li><a href="telechargements">Téléchargements</a></li>
                    <!--<li><a href="inscriptions">Inscriptions</a></li>-->
                    <li><a href="photos">Photos</a></li>
                    <li><a href="partenaires">Partenaires</a></li>
                    <li><a href="organisateurs">Organisateurs</a></li>
                    {#<li><a href="telechargements">Téléchargements</a></li>#}
                    <li><a href="localisation">Accès</a></li>
                </ul>
                {% endblock %}
            </nav>
        </header>

        </div>

<!-- ------------------- SECTION -------------------- -->
    <div class="col s9 m9 l9 ">
    <section>
        {% block section %}
            
        {% endblock %}
    </section>
    </div>

<!-- ----------------------------BLOCK ASIDE --------------------------- -->
    
    
    {% block aside %}
    <div class="col s3 m3 l3">
    
    <aside>
        <div class="container_aside">
            <p>Les <strong>Montpellier Omics Days 2017</strong> sont terminés.</p>
            <p>Rendez-vous l'année prochaine pour une prochaine édition inoubliable</p>
        </div>
        
        <div class="container_aside">
            <h3>Les MOD, on en parle</h3>
            <p>Article sur <a href="https://bioinfo-fr.net/petit-panel-des-journees-bio-informatiques-organise-par-les-masters-en-france" target=_blank>Bioinfo-fr.net</a> le 01/03/2017</p>
        </div>
        
        {% comment %}
        <div class="container_aside">
            <h3>Les news</h3>
            <p>Que faites-vous les 6 et 7 février 2017 ?</p>
            <p>Rien de prévu ? Ça tombe bien, les Montpellier OMICS Days sont de retour !</p>
            <p>La première journée sera consacrée aux conférences</p>
            <p>La deuxième journée, des workshops vous permettront de "mettre les mains dans le cambouis"</p>
            <p>Les inscriptions sont d'ores et déjà ouvertes, n'hésitez pas à <a href="inscriptions">vous inscrire</a>, le nombre de places est limité</p>
        </div>
        {% endcomment %}
        
        <div class="container_aside">
            <h3><a href="mailto:montpellier.omicsdays@gmail.com">Nous contacter</a></h3>
            {# <p>N'hésitez pas à <a href="mailto:montpellier.omicsdays@gmail.com">nous contacter par e-mail</a> !</p> #}
            <p>Vous pouvez également nous rejoindre sur les réseaux sociaux :</p>
            <div id=social_logos>
                <a href="https://www.facebook.com/events/1347669318591238/" target="_blank"><img  class="social_logo" title="Lien vers notre page Facebook!" src="static/styles/img/facebook-circle-color@2x.png" /></a>
                <a href="https://twitter.com/OmicsDays" target="_blank"><img class="social_logo" title="Lien vers Twitter!" src="static/styles/img/twitter-circle-color@2x.png" /></a>
            </div>
        </div>
    </aside>
    
    </div>
    {% endblock %}
    
    

<!-- ------------------PRE-FOOTER ----------------------- -->

    {% block prefooter%}
    {% endblock %}

<!-- ------------------FOOTER ----------------------- -->

<footer class="page-footer">
    {% block footer %}
    <div class="container">
        <div class="row">

            {% comment %}
                <div class="col l6 s12">
                    <h5 class="black-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>

                <div class="col l4 offset-l2 s12">
                    <br/><br/><br/><br/>

                    <h5 class="black-text">Liens Utiles</h5>
                    <ul>
                        <li><a class="black-text text-lighten-3" href="localisation">Nous retrouver</a></li>
                        <!--<li><a class="grey-text text-lighten-3" href="#!">Nous contacter</a></li>
                        //Peut être que ça vaudrait le coup de faire une page HTML avec les contacts dedans (si on a tel + adresse mail?)
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
                    </ul>
                </div>
            {% endcomment %}

            {% comment %}
            <div class="col l12 s12">
                <div class="partenaires">
                <h3>Nos partenaires</h3>
                        <a href="http://www.umontpellier.fr/"><img  width="50" src="/static/images/logo_universite_montpellier.png" alt="Logo Université Montpellier" title="Université de Montpellier" /></a>
                        <a href="http://www.fdsweb.univ-montp2.fr/"><img width="50" src="/static/images/logo_fds_quadri-300x300.png" alt="Logo Fac des Sciences de Montpellier" title="Faculté des Sciences de Montpellier" /></a>
                        <a href="http://deptinfofds.univ-montp2.fr/"><img  width="50" src="/static/images/dept_info_fds.jpg" alt="Logo du dept info de la faculté des sciences" title="Département informatique de la Faculté des Sciences" /></a>
                        <a href="http://www.iutmontp.univ-montp2.fr/"><img  width="50" src="/static/images/logo_iut.png" alt="Logo de l'IUT de Montpellier" title="IUT de Montpellier" /></a>
                </div>
            </div>
            {% endcomment %}

        </div>
    </div>
        <div class="footer-copyright">
            <div class="container">
                <p class= "black-text">Copyright © 2016 <a class="blue-text darken-4 right" href="http://astico.fr" target="_blank" title="Site Web de Astico">Association Astico</a> | Powered by nous-même</p>
            </div>
        </div>
    {% endblock %}
</footer>

</body>
</html>
