{% extends "main/base.html" %}

{% block section %}
{% load static %}
{# <script type="text/javascript" src="{% static 'js/inscription.js' %}"></script> <!--petit code pour gérer le coche des checkbox du formulaire --> #}
<article>
    
    <h2>!!! Les inscriptions sont closes !!!</h2>
    {% comment %}
    
    <h2>Inscriptions</h2>

    {% if envoi %}
        <h3>Vous etes maintenant inscrit</h3>
        <p>Vous allez recevoir un mail de confirmation</p>
        <a href=inscriptions >Inscrire une autre personne</a>
        {# <p>{{ form.prenom.value }}</p> #}

    {% else %}

        <p>Nous rappelons que l’inscription aux Montpellier Omics Days 2016 est entièrement <strong>gratuite</strong>, mais pour des raisons d’organisation elle est <strong>obligatoire</strong>.</p>

        <p>POUR ACCÉDER AU CAMPUS, TOUTE PERSONNE EXTÉRIEURE A L’UM DOIT VENIR MUNIE D’UNE CARTE D’IDENTITE ET DU PROGRAMME DE L’ÉVÉNEMENT.</p>

        {# <h3>Je m'inscris aux Montpellier Omics Days 2017 !</h3> #}
        

        <form id="formInscriptions" action="{% url main.views.inscriptions %}" method="post">
            {% csrf_token %}
            <fieldset id='fieldset1'>
                <legend>Je suis</legend>
                <table>
                    {{ form.errors }}
                    <tr><td>{{ form.prenom.label_tag }}</td><td>{{ form.prenom }}</td></tr>
                    <tr><td>{{ form.nom.label_tag }}</td><td>{{ form.nom }}</td></tr>
                    <tr><td>{{ form.mail.label_tag }}</td><td>{{ form.mail }}</td></tr>
                    <tr><td>{{ form.situation.label_tag }}</td><td>{{ form.situation }}</td></tr>
                    <tr><td>{{ form.institut.label_tag }}</td><td>{{ form.institut }}</td></tr>
                    <tr><td>{{ form.sexe.label_tag }}</td><td>{{ form.sexe }}</td></tr>
                    <tr><td>{{ form.interets.label_tag }}</td><td>{{ form.interets }}</td></tr>
                    <tr><td>{{ form.ville.label_tag }}</td><td>{{ form.ville }}</td></tr>
                    <tr><td>{{ form.pays.label_tag }}</td><td>{{ form.pays }}</td></tr>
                </table>
            </fieldset>
            <fieldset id='fieldset2'>
                <legend>Je participerai</legend>
                <table>
                    <tr><td>{{ form.confAM }}</td><td>{{ form.confAM.label_tag }} <span class="rouge">{{ msg_confAM }}</span></td></tr>
                    <tr><td>{{ form.confPM }}</td><td>{{ form.confPM.label_tag }} <span class="rouge">{{ msg_confPM }}</span></td></tr>
                    <tr><td>{{ form.workshop_L1 }}</td><td>{{ form.workshop_L1.label_tag }} <span class="rouge">{{ msg_wshopL1 }}</span></td></tr>
                    <tr><td>{{ form.workshop_L2 }}</td><td>{{ form.workshop_L2.label_tag }} <span class="rouge">{{ msg_wshopL2 }}</span></td></tr>
                </table>
            </fieldset>
            <fieldset id='fieldset3'>
                <legend>Autres questions</legend>
                    <p>{{ form.connaitOmics.label_tag }}<br />{{ form.connaitOmics }}</p>
                    <p>{{ form.dejaParticipe.label_tag }}<br />{{ form.dejaParticipe }}</p>
                <table>
                    <tr><td>{{ form.droitImage }}</td><td>{{ form.droitImage.label_tag }}</td></tr>
                </table>
            </fieldset>

                <input type="submit" value="Je m'inscris" />
        </form>
    
    {% endif %}
    
    {% endcomment %}

</article>
{% endblock %}
