{% extends "main/base.html" %}

{% block section %}
<article>
	<h2>Localisation de l’événement :</h2>

	<h3>Université de Montpellier</h3>
	<p>2 Place Eugène Bataillon</p>
	<p>34095 Montpellier Cedex 5</p>

	<p>Conférences : <span class=rouge>amphithéâtre Dumontet (Bâtiment 7)</span>.</p>
	<p>Workshops : salles informatiques bât. <span class=rouge>Bâtiment 5, salles 08 et 09</span>.</p>




	<h3>Le campus</h3>

	<p><img width="600px" src="/static/images/plan-du-campus-triolet-alpha2.png" /></p>

	<h3>Plan d’accès :</h3>

	{# <h3>Google maps</h3> #}

	<div class="googlemaps">
		<iframe scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11551.553528563929!2d3.8612701212454237!3d43.62968203516001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6aede6a2f7ec3:0x14715e24ed076f4f!2sFaculté des Sciences de Montpellier!5e0!3m2!1sfr!2sfr!4v1421933760809" frameborder="0" height="450" width="600"></iframe>
	</div>


	<h2>Se rendre à l’Université de Montpellier :</h2>
	<h3>En train</h3>
	<p>Sortir de la gare SNCF de Montpellier St Roch par le rez-de-chaussée. L’arrêt du tramway « Gare St Roch », ligne 1 direction « Mosson », se trouve juste en face de la gare, sur le trottoir de droite. Descendre à l’arret « Université des Sciences et des Lettres ».</p>
	<h3>En avion</h3>
	<p>Aéroport Montpellier-Méditerranée. Prendre ensuite la navette de l’aéroport direction Montpellier. Prendre le tramway ligne 1 à la station « Place de l’Europe », direction « Mosson ». Descendre à l’arrêt « Université des Sciences et des Lettres ».</p>

	<p>N'hésitez pas à <a href="mailto:montpellier.omicsdays@gmail.com" title="Cliquez pour envoyer un mail">nous écrire</a> !</p>

</article>
{% endblock %}
