{% extends "main/base.html" %}

{% block section %}
<article>
	<h2>Organisateurs</h2>
	<p>Etudiants du Master <strong>Sciences & Numérique pour la Santé (parcours Bioinformatique, Connaissances, Données)</strong> et étudiants du Master <strong>Statistiques pour les Sciences de la Vie</strong> de l’Université de Montpellier :</p>

	<ul id=listorganisateurs1>
		{% for user in users %}
			{% if user.id <= mid_number_users %}
				<li>{{ user.first_name }} {{ user.last_name }}</li>
			{% endif %}
		{% endfor %}
	</ul>

	<ul id=listorganisateurs2>
		{% for user in users %}
			{% if user.id > mid_number_users %}
				<li>{{ user.first_name }} {{ user.last_name }}</li>
			{% endif %}
		{% endfor %}
	</ul>

	<p><strong>Encadrante :</strong></p>
	<ul>
		<li>Anna-Sophie Fiston-Lavier (ISEM)</li>
	</ul>

	<img src="/static/images/photo_groupe.jpg" width=100%>

</article>
{% endblock %}
