{% extends "main/base.html" %}

{% block section %}
<article>
    <h2>Partenaires</h2>

    <table class="partners_tab">
        <tr>
            <td>
                <img  width="100" src="/static/images/um.png" alt="Logo Université Montpellier" title="Logo Université Montpellier" />
            </td>
            <td>
                <strong>Université de Montpellier</strong><br />
                <p><a href="http://www.umontpellier.fr" title="Site de l'UM">http://www.umontpellier.fr</a></p>
                <em>Remerciements particuliers à la FSDIE pour son appui financier.</em>
            </td>
        </tr>

        <tr>
            <td>
                <img width="100" src="/static/images/logo_fds_quadri-300x300.png" alt="Logo Fac des Sciences de Montpellier" title="Logo Fac des Sciences de Montpellier" />
            </td>
            <td>
                <strong>Faculté des Sciences de Montpellier</strong><br />
                <p><a href="http://www.fdsweb.univ-montp2.fr/" title="Lien vers le site de la fac des sciences de Montpellier" target="_blank">http://www.fdsweb.univ-montp2.fr/</a></p>
            </td>
        </tr>

        <tr>
            <td>
                <img width="70" src="/static/images/logo-labex-numev-alpha.png" alt="Logo du labex numev" title="Logo du labex Numev" />
            </td>
            <td>
                <strong>Labex Numev</strong><br />
                <p><a href="http://www.lirmm.fr/numev/" title="Lien vers le site du labex Numev" target="_blank">http://www.lirmm.fr/numev/</a></p>
            </td>
        </tr>

        <tr>
            <td>
                <img width="70" src="/static/images/logo-du-labex-epigenmed.png" alt="Logo du labex Epigenmed" title="Logo du labex Epigenmed" />
            </td>
            <td>
                <strong>Labex Epigenmed</strong><br />
                <p><a href="https://www.epigenmed.fr/" title="Lien vers le site du labex Epigenmed" target="_blank">https://www.epigenmed.fr/</a></p>
            </td>
        </tr>

        <tr>
            <td>
                <img width="100" src="/static/images/logo_labex_cemeb.png" alt="Logo du labex Cemeb" title="Logo du labex Cemeb" />
            </td>
            <td>
                <strong>Labex Cemeb</strong><br />
                <p><a href="http://www.labex-cemeb.org/" title="Lien vers le site du labex Cemeb" target="_blank">http://www.labex-cemeb.org</a></p>
            </td>
        </tr>
        
        <tr>
            <td>
                <img width="100" src="/static/images/ibc-alpha.png" alt="Logo de l'ibc" title="Logo de l'ibc" />
            </td>
            <td>
                <strong>IDC : Institut de Biologie Computationnelle</strong><br />
                <p><a href="http://http://www.ibc-montpellier.fr/" title="Lien vers le site de l'IBC" target="_blank">http://www.ibc-montpellier.fr</a></p>
            </td>
        </tr>
        
        <tr>
            <td>
                <img width="100" src="/static/images/isem.png" alt="Logo de l'isem" title="Logo de l'isem" />
            </td>
            <td>
                <strong>IDC : Institut des Sciences de l'Évolution de Montpellier</strong><br />
                <p><a href="http://www.isem.univ-montp2.fr/" title="Lien vers le site de l'ISEM" target="_blank">http://www.isem.univ-montp2.fr</a></p>
            </td>
        </tr>
        
        <tr>
            <td>
                <img width="100" src="/static/images/dept_info_fds.jpg" alt="Logo du dept info de la faculté des sciences" title="Logo du dept info de la faculté des sciences" />
            </td>
            <td>
                <strong>Département informatique de la Faculté des Sciences</strong><br />
                <p><a href="http://deptinfofds.univ-montp2.fr/" title="Département informatique de l'UM" target="_blank">http://deptinfofds.univ-montp2.fr</a></p>
            </td>
        </tr>

        <tr>
            <td>
                <img width="100" src="/static/images/10xGenomics-blue.jpg" alt="Logo de 10x Genomics" title="Logo de 10x Genomics" />
            </td>
            <td>
                <strong>10x Genomics</strong><br />
                <p><a href="https://www.10xgenomics.com/" title="Lien vers le site de 10x Genomics" target="_blank">https://www.10xgenomics.com</a></p>
            </td>
        </tr>
        
        <tr>
            <td>
                <img width="100" src="/static/images/logo_iut.png" alt="Logo de l'IUT de Montpellier" title="Logo Fac de l'IUT de Montpellier" />
            </td>
            <td>
                <strong>IUT de Montpellier</strong><br />
                <p><a href="http://www.iutmontp.univ-montp2.fr/" title="Lien vers le site de l'IUT de l'UM" target="_blank">http://www.iutmontp.univ-montp2.fr</a></p>
            </td>
        </tr>

        <tr>
            <td>
                <img width="100" src="/static/images/logo_maths_fds.png" alt="Logo du département mathématique de l'UM" title="Logo du département mathématique de l'UM" />
            </td>
            <td>
                <strong>Département mathématiques de la Faculté des Sciences</strong><br />
                <p><a href="http://www.mathfds.univ-montp2.fr/" title="Lien vers le site du dpt de mathématique de la FDS" target="_blank">http://www.mathfds.univ-montp2.fr</a></p>
            </td>
        </tr>

        <tr>
            <td>
                <img width="100" src="/static/images/logo-mines-ales.jpg" alt="Logo de l'école des mines d'Ales" title="Logo de l'école des mines d'Ales" />
            </td>
            <td>
                <strong>École des Mines d'Alès</strong><br />
                <p><a href="http://mines-ales.fr/" title="Lien vers le site de l'école des mines d'Ales" target="_blank">http://mines-ales.fr</a></p>
            </td>
        </tr>
        
        <tr>
            <td>
                <img width="100" src="/static/images/Mines-telecom.svg.png" alt="Logo de l'Institut des Mines Télécom" title="Logo de l'Institut des Mines Télécom" />
            </td>
            <td>
                <strong>Institut des Mines Télécom</strong><br />
                <p><a href="https://www.imt.fr/" title="Lien vers l'Institut des Mines Télécom" target="_blank">Institut des Mines Télécom</a></p>
            </td>
        </tr>
        
        <tr>
            <td>
                <img width="100" src="/static/images/Bionano_RGB.png" alt="Logo de Bionano" title="Logo de Bionano" />
            </td>
            <td>
                <strong>Bionano</strong><br />
                <p><a href="http://bionanogenomics.com/" title="Lien vers le site de bionano" target="_blank">http://bionanogenomics.com</a></p>
            </td>
        </tr>

        <tr>
            <td>
                <img width="85" src="/static/images/Logo_TailorDev.png" alt="Logo de TailorDev" title="Logo de TailorDev" />
            </td>
            <td>
                <strong>Tailor{Dev}</strong><br />
                <p><a href="https://tailordev.fr/" title="Lien vers le site de TailorDev" target="_blank">https://tailordev.fr</a></p>
            </td>
        </tr>

        <tr>
            <td>
                <img width="105" src="/static/images/Medecine_logo_2015.jpg" alt="Logo de l'école de la fac de médecine de Montpellier" title="Logo de l'école de la fac de médecine de Montpellier" />
            </td>
            <td>
                <strong>Faculté de médecine de Montpellier</strong><br />
                <p><a href="http://www.med.univ-montp1.fr/" title="Lien vers le site de la fac de médecine de Montpellier" target="_blank">http://www.med.univ-montp1.fr</a></p>
            </td>
        </tr>

        <tr>
            <td>
                <img width="110" src="/static/images/irmb.png" alt="Logo de l'IRMB" title="Logo de l'IRMB" />
            </td>
            <td>
                <strong>IRMB - Institute for Regenerative Medicine & Biotherapy</strong><br />
                <p><a href="http://www.chu-montpellier.fr/fr/irmb/" title="Lien vers le site de l'IRMB" target="_blank">http://www.chu-montpellier.fr/fr/irmb</a></p>
            </td>
        </tr>

        <tr>
            <td>
                <img width="105" src="/static/images/seqone-logo-blk.png" alt="Logo de seq@ne" title="Logo de seq@ne" />
            </td>
            <td>
                <strong>Seq@ne</strong><br />
                <p><a href="https://seq.one/" title="Lien vers le site de seq@ne" target="_blank">https://seq.one</a></p>
            </td>
        </tr>
        
        <tr>
            <td>
                <img width="100" src="/static/images/astico2.png" alt="Logo d'Astico" title="Logo d'Astico" />
            </td>
            <td>
                <strong>Astico</strong><br />
                <p><a href="http://astico.fr/" title="Lien vers le site d'Astico" target="_blank">http://astico.fr</a></p>
            </td>
        </tr>
        
        <tr>
            <td>
                <img width="100" src="/static/images/mep.png" alt="Logo de la Mutuelle des Étudiants de Provence" title="Logo de la Mutuelle des Étudiants de Provence" />
            </td>
            <td>
                <strong>Mutuelle des Étudiants de Provence</strong><br />
                <p><a href="https://www.mep.fr/" title="Lien vers la Mutuelle des Étudiants de Provence" target="_blank">https://www.mep.fr</a></p>
            </td>
        </tr>
        
        <tr>
            <td>
                <img width="90" src="/static/images/herault.png" alt="Logo du département de l'Hérault" title="Logo du département de l'Hérault" />
            </td>
            <td>
                <strong>Département de l'Hérault</strong><br />
                <p><a href="http://www.herault.fr/" title="Lien vers le département de l'Hérault" target="_blank">http://www.herault.fr</a></p>
            </td>
        </tr>
        
        <tr>
            <td>
                <img width="90" src="/static/images/occitanie.png" alt="Logo du site de la région Occitanie" title="Logo du site de la région Occitanie" />
            </td>
            <td>
                <strong>Région Occitanie</strong><br />
                <p><a href="http://www.laregionoccitanie.fr/" title="Lien vers le site de la région Occitanie" target="_blank">http://www.laregionoccitanie.fr</a></p>
            </td>
        </tr>
        
        <tr>
            <td>
                <img width="100" src="/static/images/logo-jebif.png" alt="Logo du site de JeBiF" title="Logo du site de JeBiF" />
            </td>
            <td>
                <strong>JeBif, le site des jeunes Bioinformaticiens de France</strong><br />
                <p><a href="https://jebif.fr" title="Lien vers le site de JeBiF" target="_blank">https://jebif.fr</a></p>
            </td>
        </tr>

    </table>


</article>
{% endblock %}
