{% extends "main/base.html" %}

{% block section %}

<article>
    
    {% comment %}
      <div class="slider" style="">
        <ul class="slides">
          <li>
            <img src="static/images/photo_mod/Diapositive2.png"> 
            <div class="caption center-align"> 
                <!--  <h4 class="light grey-text text-lighten-3">Les conférences</h4> -->
            </div>
            <h4 class="light grey-text text-lighten-3">Les conférences</h4>
          </li>
          <li>
            <img src="static/images/photo_mod/Diapositive3.png"> 
            <div class="caption center-align">
                <!--  <h4 class="light grey-text text-lighten-3">Les workshops</h4> -->
            </div>
          </li>
          <li>
            <img src="static/images/photo_mod/photogroupeMOD3recadre.jpg"> 
            <div class="caption center-align">
                <!-- <h4 class="light grey-text text-lighten-3">Les organisateurs</h4> -->
            </div>
          </li>
        </ul>
      </div>
      <script>$(document).ready(function(){ $('.slider').slider(); });</script>
    {% endcomment %}
    
    
    <img class="materialboxed col" data-caption="Les conférences" width="33%" src="static/images/photo_mod/Diapositive2.png" alt="Les conférences" title="Les conférences" />
    <img class="materialboxed col" data-caption="Les workshops" width="33%" src="static/images/photo_mod/Diapositive3.png" alt="Les workshops" title="Les workshops" />
    <img class="materialboxed col" data-caption="Les organisateurs" width="33%" src="static/images/photo_mod/photogroupeMOD3recadre.jpg" alt="Les organisateurs" title="Les organisateurs" />
    <br/><p></p><br/><p></p><br/><p></p><br/>
    
    

</article>
{% endblock %}

