{% extends "main/base.html" %}

{% block section %}
<article>

    <h2>Programme des conférences</h2>
    
    <p><strong>Format</strong> : 30 minutes de présentation et 10 minutes de questions</p>

    {% comment %}
    <p id="avertissement">Le programme détaillé sera disponible prochainement !</p>
    {% endcomment %}

    <table>
        <tr><td></td>   <td class="session">Introduction et présentation des Montpellier Omics Days 2017</td></tr>
        <tr><td>    <em>08h15</em></td>         <td><em>Café de bienvenue et mot d'accueil</em></td></tr>

        <tr><td></td>   <td class="session">Thèmatique 1 : les dernières technologies et approches d'analyse des données de séquençage à haut-débit</td></tr>
        <tr><td>09h00</td>      <td><strong>Nicolas Philippe</strong> - SeqOne</td></tr>
        <tr><td>09h40</td>      <td><strong>Mickael Ploquin</strong> - 10x Genomics</td></td></tr>
        <tr><td>10h20</td>          <td><em>Pause café</em></td></tr>
        <tr><td>10h50</td>      <td><strong>Jack Peart</strong> - BioNano</td></tr>
        <tr><td>11h30</td>      <td><strong>Krister Swenson</strong> - LIRMM</td><br/></tr>

        <tr><td></td>   <td class="session">12h10 à 14h00 : pause déjeuner</td></tr>
        

        <tr><td>    </td><td class="session">Thèmatique 2 : la bioinformatique au service de la recherche contre le cancer</td></tr>
        <tr><td>14h00</td>      <td><strong>Christelle Reynes</strong> - Université de Montpellier</td></tr>
        <tr><td>14h40</td>      <td><strong>Jacques Colinge</strong> - IRCM</td></tr>
        <tr><td>15h20</td>      <td><strong>Jean Christophe Andrau</strong> - IGMM</td></tr>
        <tr><td>16h15</td>          <td><em>Pause café</em></td></tr>
        
        <tr><td>16h30   </td>   <td><strong>William Ritchie</strong> - IGF</td></tr>

        <tr><td></td>   <td class="session" >Table ronde : Traitement de données de Big Data : défis, partage de données et éthique</td></tr>
        <tr><td>17h30</td>              <td>Avec la participation de <strong>Julien Maupetit</strong> et <strong>Pascal Poncelet</strong></td></tr>
        <tr><td>18h30</td>          <td><em>Clôture de la journée</em></td></tr>
        <tr><td>                    </td>           <td>            </td></tr>
    </table>

    <br/>
    <h2>Orateurs invités</h2>

    <table class="intervenants">
        <tr>
            <td><b>Mickael Ploquin</b> - 10X genomics<br>
            <i>Nouvelle technologie de séquençage de long reads synthétiques</i></td>
            <td><img class="avatar" src="static/images/photos_intervenants/inconnu.png" width="90px" alt="photo_Mickaël"/></td>
        </tr>

        <tr>
            <td><b>Jack Peart</b> - BioNano<br>
            <i>Le fonctionnement de la technologie de "Next Generation Mapping" (NGM) de BioNano sera ici présentée, ainsi que son utilisation pour améliorer l'assemblage de génomes de novo et la détection de variants structuraux omis par les autres technologies</i></td>
            <td><img class="avatar" src="static/images/photos_intervenants/jack-peart.jpeg" width="90px" alt="photo_Jack_Peart"/></td>
        </tr>

        <tr>
            <td><b>Nicolas Philippe</b> - SeqOne (Montpellier)<br>
            <i>SeqOne est une startup qui développe des solutions pour optimiser les diagnostics en génétique en intégrant le biologiste au coeur des analyses NGS</i></td>
            <td><img class="avatar" src="static/images/photos_intervenants/nicolas.png" width="90px" alt="photo_Nicolas"/></td>
        </tr>

        <tr>
            <td><b>Olivier Bouchez</b> - Plateforme GeT-PlaGe (Toulouse)<br>
            <i>Olivier Bouchez est ingénieur en biologie moléculaire spécialisé dans les NGS. Il présentera les dernières technologies de séquençage à haut-débit</i></td>
            <td><img class="avatar" src="static/images/photos_intervenants/olivier_bouchez1.jpg" width="90px" alt="photo_olivier_bouchez"/></td>
        </tr>

        <tr>
            <td><b>Jacques Colinge</b> - Institut de Recherche en Cancérologie de Montpellier<br>
            <i>Bioinformatique et biologie des systèmes du cancer. méthodes de l’analyse de grand jeux de données et de la biologie des systèmes dans le domaine du cancer. La présentation sera portée sur la protéomique.</i></td>
            <td><img class="avatar" src="static/images/photos_intervenants/Jacques.png" width="90px" alt="photo_Jacques"/></td>
        </tr>

        <tr>
            <td><b>Krister Swenson</b> - Equipe MAB - LIRMM (Montpellier)<br>
            <i>Développement d'algorithmes pour les sciences de l'évolution.</i></td>
            <td><img class="avatar" src="static/images/photos_intervenants/krister.png" width="90px" alt="photo_krister_swenson"/></td>
        </tr>

        <tr>
            <td><b>Christelle Reynes</b> - Université de Montpellier<br>
            <i>Algorithmes génétiques, analyse de données, analyses statistiques appliquées à la biologie et à la bioinformatique</i></td>
            <td><img class="avatar" src="static/images/photos_intervenants/christelle.png" width="90px" alt="photo_christelle"/></td>
        </tr><br/>

        <tr>
            <td><b>Julien Maupetit</b> - Société TailorDev (Clermont-Ferrand)<br>
            <i>Julien Maupetit est le CEO de TailorDev, société dont l'objectif est de développer des outils modernes pour faciliter le travail scientifique et promouvoir l'open data, l'Open science et l'open source dans les entités de recherche.
            </i></td>
            <td><img class="avatar" src="static/images/photos_intervenants/maupetit1.jpeg" width="90px" height="90px" alt="photo_julien_maupetit"/></td>
        </tr>
        
        <tr>
            <td><b>Pascal Poncelet</b> - Université de Montpellier<br>
            <i>
                Professeur à l'Université de Montpellier et responsable des parcours de formations SNS (Sciences et Numérique pour la Santé),  Pascal Poncelet est aussi responsable du groupe de recherche autour de la Fouille de Données (projet Advanse) au sein du LIRMM.
            </i></td>
            <td><img class="avatar" src="static/images/photos_intervenants/pascal-poncelet.png" width="90px" height="90px" alt="photo_pascal_poncelet"/></td>
        </tr>
        
        <br/>
    </table>


</article>
{% endblock %}
