{% extends "main/base.html" %}

{% block section %}
<article>
    <h2>Téléchargements</h2>
    <p>Vous trouverez ici les supports des présentations du lundi. Un grand merci aux intervenants acceptant de les partager</p>
    <p><a href="/static/download/NicolasPhillipe_SeqOne.pdf">Nicolas Phillipe - SeqOne</a></p>
    <p><a href="/static/download/MickaelPloquin_10Xgenomics.pdf">MickaelPloquin - 10Xgenomics</a></p>
    <p><a href="/static/download/KristenSwerson_rearrangements.pdf">Kristen Swerson - Réarrangements</a></p>
    <p><a href="/static/download/ChristelleReynes_biostats.pdf">Christelle Reynes - Biostatistiques</a></p>
    <p><a href="/static/download/JacquesColinge_proteomique.pdf">Jacques Colinge - Protéomique</a></p>
    <p><a href="/static/download/JeanChristopheAndrau_CancerTransciptoEpigeno.pdf">Jean Christophe Andrau - Transcription et épigénomique</a></p>
    <p><a href="/static/download/WilliamRitchie_NGSIntron.pdf">William Ritchie - Intron retention transcripts</a></p>
    <p><a href="https://jmaupetit.github.io/Scientific-Big-Data-challenges-sharing-and-ethics/#/" target="_blank">Julien Maupetit - Scientific (Big) Data</a> (table ronde)</p>
    <p style="padding-left:18%;">---------</p>
    <p><a class=rouge href="/static/download/mod2017_presentations.zip">Fichier ZIP de toutes les présentations ci-dessus</a> (70 Mo environ)</p>
</article>
{% endblock %}
